<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Sree-Prabhul</title>

        <!--tailwind css-->
        <link rel="stylesheet" href="/client/src/style/style.css" />
        <!-- <link rel="stylesheet" href="../style.css"> -->

        <!--font css-->
        <link rel="stylesheet" href="/client/public/font.css" />
        <!-- <link rel="stylesheet" href="../font.css"> -->
    </head>
    <body
        class="bg-white min-h-screen !scroll-smooth scrollbar-thumb-gray-600 scrollbar-track-gray-300"
    >
        <!--header start-->
        <header class="bg-white h-auto">
            <!--nav start-->
            <nav id="navbar" class="border-gray-300 w-full top-0 z-50">
                <div class="flex items-center justify-between p-4">
                    <!--left portion space-x-3 rtl:space-x-reverse-->
                    <a href="/client/public/index.html" class="flex items-center">
                        <!--logo-->
                        <img
                            src="/client/public/img/logo/COH (3).png"
                            class="h-6 md:h-10 lg:h-14"
                            alt="Logo of colours of happiness"
                        />
                    </a>

                    <!-- Nav Button -->
                    <button
                        id="nav-button"
                        type="button"
                        class="z-50 inline-flex items-center justify-center p-2 w-10 h-10 text-sm text-red-900 rounded-lg hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 ml-auto"
                    >
                        <span class="sr-only">Open main menu</span>
                        <svg
                            class="w-5 h-5"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 17 14"
                        >
                            <path
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M1 1h15M1 7h15M1 13h15"
                            />
                        </svg>
                    </button>

                    <!-- List Menu -->

                    <div
                        id="navbar-hamburger"
                        class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-70 hidden z-40"
                    >
                        <ul
                            class="flex h-auto text-3xl font-normal font-playfair text-center flex-col lg:text-4xl md:text-4xl"
                        >
                            <li
                                class="flex flex-col mt-5 py-3 sm:items-center text-white custom-nav-li animate-animate"
                            >
                                <a
                                    href="#"
                                    class="block py-0 hover:text-red-900"
                                    >Home</a
                                >
                            </li>
                            <li
                                class="flex flex-col mt-5 py-3 items-center text-white custom-nav-li animate-animate delay-150"
                            >
                                <a href="#" class="block hover:text-red-900"
                                    >About</a
                                >
                            </li>
                            <li
                                class="flex flex-col mt-5 py-3 items-center text-white custom-nav-li animate-animate delay-300"
                            >
                                <a href="#" class="block hover:text-red-900"
                                    >Projects</a
                                >
                            </li>
                            <li
                                class="flex flex-col mt-5 py-3 items-center text-white custom-nav-li animate-animate delay-450"
                            >
                                <a href="#" class="block hover:text-red-900"
                                    >Services</a
                                >
                            </li>
                            <li
                                class="flex flex-col mt-5 py-3 items-center text-white custom-nav-li animate-animate delay-600"
                            >
                                <a href="#" class="block hover:text-red-900"
                                    >Contact us</a
                                >
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!--nav end-->

            <!--back button-->
            <!--<a href="index.html" class="text-[#561C24] hover:underline ">Back to Home</a>-->
        </header>
        <!--header end-->

        <!--main start-->
        <main>
            <!--container around -->
            <section class="w-full py-14">
                <div
                    class="container mx-auto max-w-[1200px] bg-white p-6 md:p-12 lg:p-16"
                >
                    <div
                        class="text-6xl text-[#561C24] font-playfair font-medium text-center p-5"
                        >Sree <br />
                        & <br />
                        Prabhul</div
                    >
                    <div class="text-[#561C24] font-playfair text-center p-5"
                        >Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis
                        nostrud exercitation ullamco laboris nisi ut aliquip ex
                        ea commodo consequat. Duis aute irure dolor in
                        reprehenderit in voluptate velit esse cillum dolore eu
                        fugiat nulla pariatur</div
                    >
                    <div class="text-[#561C24] text-center p-5"
                        >Lorem ipsum dolor sit amet, <br />
                        consectetur adipiscing elit, <br />
                        sed do eiusmod tempor incididunt ut <br />
                        labore et dolore magna aliqua. <br />
                        Ut enim ad minim veniam, <br />
                        quis nostrud exercitation ullamco</div
                    >

                    <!--full size image-1 start-->
                    <div
                        class="max-w-240px h-[110%] p-2 md:p-3 lg:p-5 overflow-hidden"
                    > 
                        <img
                            src="/client/public/img/wedding/sree and prabhul/bride-groom-couple-wedding-photos.jpg"
                            class="w-full h-full p-5 object-cover"
                            alt="wedding photo"
                            loading="lazy"
                        />
                    </div>
                    <!--full size image-1 end-->

                    <!--side by side-image start-->
                    <div class="grid grid-cols-2 gap-2">
                        <!--image-2-start-->
                        <div class="h-72 md:h-96 lg:h-screen overflow-hidden">
                            <img
                                src="https://img.freepik.com/free-photo/young-muslim-bride-groom-wedding-photos_181624-29306.jpg?t=st=1730560940~exp=1730564540~hmac=fa01efaee7c328da4afb129ea9cffbf048a9ef9d98815fcf29372c4a86e97157&w=996"
                                class="w-full h-full object-cover"
                                alt="Bride and Groom Image 1"
                                loading="lazy"
                            />
                        </div>
                        <!--image-2-end-->

                        <!--image-3-start-->
                        <div class="h-72 md:h-96 lg:h-screen overflow-hidden">
                            <img
                                src="https://img.freepik.com/free-photo/young-muslim-bride-groom-wedding-photos_181624-36553.jpg?t=st=1730561029~exp=1730564629~hmac=84d98c8464a4b2b974c966dfbb55e1b7008802ed7a12048b850ecc2cdefac7bb&w=996"
                                class="w-full h-full object-cover"
                                alt="Bride and Groom Image 2"
                                loading="lazy"
                            />
                        </div>
                        <!--image-3-end-->
                    </div>
                    <!--side by side-image end-->

                    <!--image-4-start [full size]-->
                    <div
                        class="max-w-xs md:max-w-xl lg:max-w-3xl h-auto lg:h-screen mx-auto p-2 md:p-3 lg:p-5 overflow-hidden"
                    >
                        <img
                            src="https://img.freepik.com/free-photo/side-view-couple-posing-wedding_23-2149956398.jpg?t=st=1730613115~exp=1730616715~hmac=da52349a261074bef54e659d0db6a762a0d62d4d568726773f4b37b530da4c44&w=360"
                            class="w-full h-full object-cover"
                            alt="wedding photo"
                            loading="lazy"
                        />
                    </div>
                    <!--image-4-end-->

                    <!--image-5-start [full size]-->
                    <div
                        class="h-auto lg:h-screen p-2 md:p-3 lg:p-5 overflow-hidden"
                    >
                        <img
                            src="https://img.freepik.com/free-photo/indian-couple-celebrating-propose-day-by-being-romantic-with-each-other_23-2151110947.jpg?t=st=1730613231~exp=1730616831~hmac=12009a2c440fa47898197e2b789fb03ec012d962847805ffcb7b398e3a7e66b0&w=996"
                            class="w-full h-full object-cover"
                            alt="wedding photo"
                            loading="lazy"
                        />
                    </div>
                    <!--image-5-end-->

                    <!--side by side-image start-->
                    <div class="grid grid-cols-2 gap-2">
                        <!--image-6-start-->
                        <div class="h-72 md:h-96 lg:h-screen overflow-hidden">
                            <img
                                src="https://img.freepik.com/premium-photo/man-woman-posing-photo-front-tree-with-words-word-it_1113980-1948.jpg?w=740"
                                class="w-full h-full object-cover"
                                alt="Bride and Groom Image 1"
                                loading="lazy"
                            />
                        </div>
                        <!--image-6-end-->

                        <!--image-7-start-->
                        <div class="h-72 md:h-96 lg:h-screen overflow-hidden">
                            <img
                                src="https://img.freepik.com/premium-photo/romantic-newlyweds-hugging-by-autumn-red-leaves-wall_1158146-22639.jpg?w=740"
                                class="w-full h-full object-cover"
                                alt="Bride and Groom Image 2"
                                loading="lazy"
                            />
                        </div>
                        <!--image-7-end-->
                    </div>
                    <!--side by side-image end-->

                    <!--image-8-start [full size]-->
                    <div
                        class="h-auto lg:h-[120%] p-2 md:p-3 lg:p-5 overflow-hidden"
                    >
                        <img
                            src="https://img.freepik.com/free-photo/bride-groom-having-their-wedding-beach_23-2149043965.jpg?t=st=1730613407~exp=1730617007~hmac=33279ee6e5c597354962209558767e7667a53c4bed37fea4c4dbd63dafc6600b&w=360"
                            class="w-full h-full object-cover"
                            alt="wedding photo"
                            loading="lazy"
                        />
                    </div>
                    <!--image-8-end-->

                    <!--side by side-image start-->
                    <div class="grid grid-cols-2 gap-2">
                        <!--image-9-start-->
                        <div class="h-72 md:h-96 lg:h-screen overflow-hidden">
                            <img
                                src="https://img.freepik.com/free-photo/bride-groom-pose-large-circle-lilac-garden_8353-1248.jpg?t=st=1730613395~exp=1730616995~hmac=62413ea86ee0da2a7f7483f4d637fe5593098f1a9507072238354556d513a6eb&w=996"
                                class="w-full h-full object-cover"
                                alt="Bride and Groom Image 1"
                                loading="lazy"
                            />
                        </div>
                        <!--image-9-end-->

                        <!--image-10-start-->
                        <div
                            class="h-72 md:h-96 lg:h-screen overflow-hidden p-2 md:p-3 lg:p-5"
                        >
                            <img
                                src="https://img.freepik.com/premium-photo/beautiful-couple-winter_1148167-105969.jpg?w=740"
                                class="w-full h-full object-cover"
                                alt="Bride and Groom Image 2"
                                loading="lazy"
                            />
                        </div>
                        <!--image-10-end-->
                    </div>
                    <!--side by side-image end-->

                    <!--image-11-start [full size]-->
                    <div
                        class="h-auto lg:h-screen p-2 md:p-3 lg:p-5 overflow-hidden"
                    >
                        <img
                            src="https://img.freepik.com/premium-photo/romantic-newlyweds-hugging-by-autumn-red-leaves-wall_1158146-22640.jpg?w=740"
                            class="w-full h-full object-cover"
                            alt="wedding photo"
                            loading="lazy"
                        />
                    </div>
                    <!--image-11-end-->

                    <!--side by side-image start-->
                    <div class="grid grid-cols-2 gap-2">
                        <!--image-12-start-->
                        <div
                            class="h-72 md:h-96 lg:h-screen overflow-hidden p-2 md:p-3 lg:p-5"
                        >
                            <img
                                src="https://img.freepik.com/free-photo/bride-with-head-attached-groom-s-face_1157-560.jpg?t=st=1730613670~exp=1730617270~hmac=b2f1adb164ce830138d308ecb6f72c8cc8cd2d2533b5606a2cfc422677a81bad&w=996"
                                class="w-full h-full object-cover"
                                alt="Bride and Groom Image 1"
                                loading="lazy"
                            />
                        </div>
                        <!--image-12-end-->

                        <!--image-13-start-->
                        <div class="h-72 md:h-96 lg:h-screen overflow-hidden">
                            <img
                                src="https://img.freepik.com/free-photo/beautiful-woman-long-red-dress-walks-around-city-with-her-husband_1157-13392.jpg?t=st=1730613707~exp=1730617307~hmac=d55ec1225c990c9901f6fac5f94f83a12ba8a7feaaaf70809e9d35edfd4ca063&w=996"
                                class="w-full h-full object-cover"
                                alt="Bride and Groom Image 2"
                                loading="lazy"
                            />
                        </div>
                    </div>
                    <!--image-13-end-->
                    <!--side by side-image end-->

                    <!--image-14-start [full size]-->
                    <div
                        class="h-auto lg:h-screen p-2 md:p-3 lg:p-5 overflow-hidden"
                    >
                        <img
                            src="https://img.freepik.com/free-photo/woman-surrounded-by-plants_181624-36874.jpg?t=st=1730613753~exp=1730617353~hmac=0e199dcff8f744370a8ba1c23497144eae7b9a4e4bbe7ed50a08c9019c7f912d&w=360"
                            class="w-full h-full object-cover"
                            alt="wedding photo"
                            loading="lazy"
                        />
                    </div>
                    <!--image-14-end-->

                    <!--side by side-image start-->
                    <div class="grid grid-cols-2 gap-2">
                        <!--image-15-start-->
                        <div class="h-72 md:h-96 lg:h-screen overflow-hidden">
                            <img
                                src="https://img.freepik.com/free-photo/romantic-wedding-couple-love-standing-sea-eye-lake-poland-tatra-mountains_1328-2884.jpg?t=st=1730613792~exp=1730617392~hmac=b8f34779975722cbea39ad39dfa18e4ab814c6475b396ee14d99272b992c48e4&w=996"
                                class="w-full h-full object-cover"
                                alt="Bride and Groom Image 1"
                                loading="lazy"
                            />
                        </div>
                        <!--image-15-end-->

                        <!--image-16-start-->
                        <div class="h-72 md:h-96 lg:h-screen overflow-hidden">
                            <img
                                src="https://img.freepik.com/free-photo/asian-bride-caucasian-groom-have-romance-time-happy-together_1150-9359.jpg?t=st=1730613854~exp=1730617454~hmac=fcae89eb4ccab86a9eefd4250053bc053b25333481e953dffaf1d54ddd861cc4&w=360"
                                class="w-full h-full object-cover"
                                alt="Bride and Groom Image 2"
                                loading="lazy"
                            />
                        </div>
                    </div>
                    <!--image-16-end-->

                    <!--image-17-start [full size]-->
                    <div
                        class="h-auto lg:h-[120%] p-2 md:p-3 lg:p-5 overflow-hidden"
                    >
                        <img
                            src="https://img.freepik.com/free-photo/beautiful-woman-long-red-dress-walks-around-city-with-her-husband_1157-13377.jpg?t=st=1730613889~exp=1730617489~hmac=a3646b50faa4883cfd7b090a9f414c21d9d9c3f9efce375d0aa97193623d4ce6&w=996"
                            class="w-full h-full object-cover"
                            alt="wedding photo"
                            loading="lazy"
                        />
                    </div>
                    <!--image-17-end-->

                    <!--image-18-start [full size]-->
                    <div
                        class="max-w-xs md:max-w-xl lg:max-w-3xl h-auto lg:h-screen mx-auto p-2 md:p-3 lg:p-5 overflow-hidden"
                    >
                        <img
                            src="https://img.freepik.com/free-photo/romantic-wedding-couple-love-standing-sea-eye-lake-poland-tatra-mountains_1328-2919.jpg?t=st=1730614011~exp=1730617611~hmac=c4d73a0a9e816a84e00c9f402a2d0f7545b0b5d112e5b43c88a628f654642c71&w=996"
                            class="w-full h-full object-cover"
                            alt="wedding photo"
                            loading="lazy"
                        />
                    </div>
                    <!--image-18-end-->

                    <!--side by side-image start-->
                    <div class="grid grid-cols-2 gap-2">
                        <!--image-19-start-->
                        <div class="h-72 md:h-96 lg:h-screen overflow-hidden">
                            <img
                                src="https://img.freepik.com/free-photo/wedding-archway-backyard-happy-wedding-couple-outdoors-before-wedding-ceremony_8353-11057.jpg?t=st=1730614055~exp=1730617655~hmac=585bf5e9176e9145c67bcaff13f5e527da459a4069e3e64c06d51de49535d38c&w=900"
                                class="w-full h-full object-cover"
                                alt="Bride and Groom Image 1"
                                loading="lazy"
                            />
                        </div>
                        <!--image-19-end-->

                        <!--image-20-start-->
                        <div class="h-72 md:h-96 lg:h-screen overflow-hidden">
                            <img
                                src="https://img.freepik.com/free-photo/young-woman-man-having-beach-wedding_23-2149003450.jpg?t=st=1730614091~exp=1730617691~hmac=0d969cca8433a932e72a10d040bf9751da51e54629b1148129fc418cf94bbcc6&w=996"
                                class="w-full h-full object-cover"
                                alt="Bride and Groom Image 2"
                                loading="lazy"
                            />
                        </div>
                    </div>
                    <!--image-20-end-->

                    <!--side by side-image start-->
                    <div class="grid grid-cols-2 gap-2 pt-1">
                        <!--image-21-start-->
                        <div class="h-72 md:h-96 lg:h-screen overflow-hidden">
                            <img
                                src="https://img.freepik.com/free-photo/beautiful-husband-wife-posing-beach_23-2149003451.jpg?t=st=1730614126~exp=1730617726~hmac=150f44be7e4cc7b1f9a5704a68288da5b3daaa7f5ffb71d6161d3ac2589c8fb6&w=996"
                                class="w-full h-full object-cover"
                                alt="Bride and Groom Image 1"
                                loading="lazy"
                            />
                        </div>
                        <!--image-21-end-->

                        <!--image-22-start-->
                        <div class="h-72 md:h-96 lg:h-screen overflow-hidden">
                            <img
                                src="https://img.freepik.com/free-photo/beautiful-woman-long-red-dress-walks-around-city-with-her-husband_1157-13364.jpg?t=st=1730614160~exp=1730617760~hmac=ebeaa219d7f32ed1a77798dfdacd7dd8364d3a67d6d2d470ddf47ba76ad91a05&w=996"
                                class="w-full h-full object-cover"
                                alt="Bride and Groom Image 2"
                                loading="lazy"
                            />
                        </div>
                    </div>
                    <!--image-22-end-->

                    <!--image-23-start [full size]-->
                    <div
                        class="max-w-xs md:max-w-xl lg:max-w-3xl h-auto lg:h-screen mx-auto p-2 md:p-3 lg:p-5 overflow-hidden"
                    >
                        <img
                            src="https://img.freepik.com/free-photo/beautiful-wedding-couple-forest-with-yellowed-trees-almost-kissing-marriage-concept-wedding-couple-autumn-forest_8353-11027.jpg?t=st=1730614189~exp=1730617789~hmac=18676b040558306e666085c8bb622772487e0369feea7b5d859e23d082989904&w=1060"
                            class="w-full h-full object-cover"
                            alt="wedding photo"
                            loading="lazy"
                        />
                    </div>
                    <!--image-23-end-->

                    <!--image-24-start [full size]-->
                    <div
                        class="h-auto lg:h-[120%] p-2 md:p-3 lg:p-5 overflow-hidden"
                    >
                        <img
                            src="https://img.freepik.com/free-photo/full-shot-happy-couple-outdoors_23-2149580464.jpg?t=st=1730614236~exp=1730617836~hmac=6f7d5d7703be61b53c8cac01bf85bf18402a835e7ba74905be0897c6ab271644&w=360"
                            class="w-full h-full object-cover"
                            alt="wedding photo"
                            loading="lazy"
                        />
                    </div>
                    <!--image-24-end-->

                    <!--image-25-start [full size]-->
                    <div class="h-auto lg:h-screen p-1 overflow-hidden">
                        <img
                            src="https://img.freepik.com/free-photo/full-shot-couple-posing-wedding_23-2149956403.jpg?t=st=1730614264~exp=1730617864~hmac=6a162772b9ce6d5c5abdff3f52338eaabd4c155e80c5bb1649643b46510af961&w=996"
                            class="w-full h-full object-cover"
                            alt="wedding photo"
                            loading="lazy"
                        />
                    </div>
                    <!--image-25-end-->

                    <!--image-26-start [full size]-->
                    <div class="h-auto lg:h-screen p-1 overflow-hidden">
                        <img
                            src="https://img.freepik.com/free-photo/beautiful-woman-long-red-dress-walks-around-city-with-her-husband_1157-13379.jpg?t=st=1730614455~exp=1730618055~hmac=14dde663e42ba80e89bbbbfef260e985f6b91d394ba17baf7f3895855af48ce0&w=996"
                            class="w-full h-full object-cover"
                            alt="wedding photo"
                            loading="lazy"
                        />
                    </div>
                    <!--image-26-end-->

                    <!--image-27-start [full size]-->
                    <div class="h-auto lg:h-screen p-1 overflow-hidden">
                        <img
                            src="https://img.freepik.com/free-photo/look-from-outside-wedding-couple-kissing-window_8353-4974.jpg?t=st=1730614496~exp=1730618096~hmac=da3c6a81de26453d0f1268c62d11a371d1ae84fdea518a960efffbe706fc13f2&w=900"
                            class="w-full h-full object-cover"
                            alt="wedding photo"
                            loading="lazy"
                        />
                    </div>
                    <!--image-27-end-->

                    <!--image-28-start [full size]-->
                    <div class="h-auto lg:h-screen p-1 overflow-hidden">
                        <img
                            src="https://img.freepik.com/free-photo/beautiful-woman-long-red-dress-walks-around-city-with-her-husband_1157-13387.jpg?t=st=1730614526~exp=1730618126~hmac=1d80d0601aa4b6c6ba2ba6ad5e2ec55b234ed1981389d12d7dc42c4c96a26783&w=996"
                            class="w-full h-full object-cover"
                            alt="wedding photo"
                            loading="lazy"
                        />
                    </div>
                    <!--image-28-end-->

                    <!--side by side-image start-->
                    <div class="grid grid-cols-2 gap-2 pt-1">
                        <!--image-29-start-->
                        <div class="h-72 md:h-96 lg:h-screen overflow-hidden">
                            <img
                                src="https://img.freepik.com/free-photo/wedding-walk-nature_8353-5850.jpg?t=st=1730614557~exp=1730618157~hmac=97db124ab60d733e3b18a2619937709c237913757d6f014cf478a5c8328556a6&w=996"
                                class="w-full h-full object-cover"
                                alt="Bride and Groom Image 1"
                                loading="lazy"
                            />
                        </div>
                        <!--image-29-end-->

                        <!--image-30-start-->
                        <div class="h-72 md:h-96 lg:h-screen overflow-hidden">
                            <img
                                src="https://img.freepik.com/free-photo/guy-kissing-his-girlfriend-s-forehead_1153-573.jpg?t=st=1730614587~exp=1730618187~hmac=69006ec8d3ce1147b3b2508c52a20f7a3e2c92f4ce0c73431890d28821d78328&w=996"
                                class="w-full h-full object-cover"
                                alt="Bride and Groom Image 2"
                                loading="lazy"
                            />
                        </div>
                    </div>
                    <!--image-30-end-->

                    <!--image-31-start [full size]-->
                    <div
                        class="h-auto lg:h-[120%] p-2 md:p-3 lg:p-5 overflow-hidden"
                    >
                        <img
                            src="https://img.freepik.com/free-photo/charming-young-expecting-couple-poses-white-studio-rich-decorated-with-pink-flowers_8353-8287.jpg?t=st=1730614620~exp=1730618220~hmac=56a1b72fe1fdf43bfe4308afa74cea5f0ae52242c12d8293b2222a8c0ccca54c&w=360"
                            class="w-full h-full object-cover"
                            alt="wedding image"
                            loading="lazy"
                        />
                    </div>
                    <!--image-31-end-->
                </div>
            </section>
        </main>
        <!--main end-->

        <!--footer section-start-->
        <footer class="footer bg-[#561C24] text-[#E8D8C4] p-10 lg:snap-start">
            <!--logo,company name-->
            <aside>
              <a href="/client/public/index.html">
                <img
                    src="/client/public/img/logo/coh-white-logo.png"
                    class="h-6 md:h-10 lg:h-14"
                    alt="footer-logo of colors of hapinness"
                />
                </a>
                <p>
                    Colors Of Happiness
                    <br />
                    Powered by Robistaan TechLab Pvt Ltd
                </p>
            </aside>
            <!--social media-start-->
            <nav>
                <h6 class="footer-title">Social</h6>
                <div class="grid grid-flow-col gap-4">
                    <!--instagram logo and link start-->
                    <a
                        href="https://www.instagram.com/colorsofhappiness_coh/?igsh=MXZndjc0dTg2YzUwYQ%3D%3D"
                        target="_blank"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            class="fill-current text-slate-400 hover:cursor-pointer hover:text-white"
                        >
                            <path
                                d="M12 2.163c3.204 0 3.584.012 4.85.07 1.206.054 2.007.24 2.463.403a4.95 4.95 0 011.693 1.093 4.95 4.95 0 011.093 1.692c.163.456.349 1.257.403 2.464.058 1.267.07 1.646.07 4.85s-.012 3.584-.07 4.85c-.054 1.207-.24 2.008-.403 2.464a4.95 4.95 0 01-1.093 1.693 4.95 4.95 0 01-1.692 1.093c-.456.163-1.257.349-2.464.403-1.267.058-1.646.07-4.85.07s-3.584-.012-4.85-.07c-1.207-.054-2.008-.24-2.464-.403a4.95 4.95 0 01-1.693-1.093 4.95 4.95 0 01-1.093-1.692c-.163-.456-.349-1.257-.403-2.464C2.175 15.584 2.163 15.204 2.163 12s.012-3.584.07-4.85c.054-1.207.24-2.008.403-2.464A4.95 4.95 0 013.73 3.463a4.95 4.95 0 011.692-1.093c.456-.163 1.257-.349 2.464-.403 1.267-.058 1.646-.07 4.85-.07m0-2.163C8.755 0 8.345 0 7.092.07 5.848.139 4.725.342 3.825.672A6.921 6.921 0 001.3 1.815 6.921 6.921 0 00.673 3.825c-.33.9-.534 2.024-.602 3.268C0 8.345 0 8.755 0 12s0 3.655.07 4.908c.068 1.244.272 2.368.602 3.267.486 1.205 1.14 2.22 2.022 3.102a6.921 6.921 0 002.11 2.11c.9.486 2.022.79 3.268.858C8.345 24 8.755 24 12 24s3.655 0 4.908-.07c1.244-.068 2.368-.272 3.267-.602a6.921 6.921 0 002.11-2.022 6.921 6.921 0 002.022-2.11c.486-.9.79-2.022.858-3.268.07-1.253.07-1.662.07-4.908s0-3.655-.07-4.908c-.068-1.244-.272-2.368-.602-3.267a6.921 6.921 0 00-2.022-2.11 6.921 6.921 0 00-2.11-2.022c-.9-.486-2.022-.79-3.268-.858C15.655 0 15.245 0 12 0z"
                            ></path>
                            <path
                                d="M12 5.838a6.162 6.162 0 000 12.324 6.162 6.162 0 000-12.324zm0 10.162a3.998 3.998 0 110-7.996 3.998 3.998 0 010 7.996zM18.406 4.594a1.44 1.44 0 11-2.88 0 1.44 1.44 0 012.88 0z"
                            ></path>
                        </svg>
                    </a>
                    <!--instagram logo and link end-->
                    <!--youtube logo and link start-->
                    <a href="https://www.youtube.com/@colorsofhappiness_coh"
                        target="_blank">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            class="fill-current text-slate-400 hover:cursor-pointer hover:text-white"
                        >
                            <path
                                d="M19.615 3.184c-3.604-.246-11.631-.245-15.23 0-3.897.266-4.356 2.62-4.385 8.816.029 6.185.484 8.549 4.385 8.816 3.6.245 11.626.246 15.23 0 3.897-.266 4.356-2.62 4.385-8.816-.029-6.185-.484-8.549-4.385-8.816zm-10.615 12.816v-8l8 3.993-8 4.007z"
                            ></path>
                        </svg>
                    </a>
                    <!--youtube logo and link end-->
                    <!--fb logo and link start-->
                    <a href="https://www.facebook.com/share/15BUBsv3BG/"
                        target="_blank">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            class="fill-current text-slate-400 hover:cursor-pointer hover:text-white"
                        >
                            <path
                                d="M9 8h-3v4h3v12h5v-12h3.642l.358-4h-4v-1.667c0-.955.192-1.333 1.115-1.333h2.885v-5h-3.808c-3.596 0-5.192 1.583-5.192 4.615v3.385z"
                            ></path>
                        </svg>
                    </a>
                    <!--fb logo and link end-->
                </div>
            </nav>
            <!--social media-end-->
            <!--contact-start-->
            <aside>
                <div class="flex">
                    <p
                        ><a href="tel:+919745713419" class="block">+91 9745713419 </a>
                        <br />
                        <a href="Hello@colorsofhappiness.com" class=" block">Hello@colorsofhappiness.com</a>
                    </p>
                </div>
            </aside>
            <!--contact-end-->
        </footer>
        <!--footer-end-->
        <!--Gsap-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.2/gsap.min.js"></script>
        <script src="https://unpkg.com/split-type"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.2/ScrollTrigger.min.js"></script>

        <!--lazyload-->
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.3.2/lazysizes.min.js"
            async
        ></script>

        <!--js link-->
        <script type="module" src="/client/src/index.js"></script>
        <!-- <script type="module" src="../index.js"></script> -->
    </body>
</html>
